.boxMainTable{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0px;

    .titleMyTable{

        span{
            font-size: 1.25rem;
            color: black;
            padding: 20px;
        }
    }

    .myMainTable{
        
        .table{
          
            margin: 20px;

            th{
                font-size: 1rem;
                color: #272727;
                border: none;
            }

            td{
                font-size: 0.87rem;
                color: #6A6969;
                border: none;
            }
        }
    }

}