.boxMainTable{
    background-color: white;
    padding: 30px;
    border-radius: 10px;

    h2 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
        color: #272727;
    }

    .table{
        width: 100%;
        overflow-x: scroll;

        th{
            font-size: 1rem;
            color: #272727;
            border: none;
        }

        td{
            font-size: 0.87rem;
            color: #6A6969;
            border: none;
        }
    }

}