@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    :root{
        --color-purple: #9E6EFE;
        --color-dark-10: #262626;
        --color-dark-20: #414141;
        --color-dark-30: #737373;
        --color-dark-40: #FFFFFF;
        --color-backgroud-page: #cfcff0;
        
    }

    text-decoration: none;
    list-style: none;
               
}

.backgroud-page{
    background-color:#cfcff0;
}