

nav {
    padding: 60px 40px;
    display: flex;
    align-items: start;
    flex-direction: column;
    background: #FFFFFF;
    width: 270px;
    height: 100vh;
    min-height: 500px;

    .imageLogo {
        margin: 0 0 60px 10px;
    }

    ul {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        li {
            padding: 10px;


            a{
                font-size: 1rem;
                text-decoration: none;                
                color: #262626;
                                    
                span{
                    margin-left: 12px;
                }
            }

        }

        img{
            width: 22px;
        }

        li:hover{
            background-color: #dfdff5;
            border-radius: 5px;

            a{
                color: #9E6EFE;
            }            

            img{
                filter: brightness(0) saturate(100%) invert(59%) sepia(36%) saturate(7380%) hue-rotate(229deg) brightness(100%) contrast(99%);
            }

        }

        .logofPage{

            li:hover{

                background-color:#faa3a3;
                border-radius: 5px;

                a{
                    color:#ec0000;
                }
                img{
                    filter: brightness(0) saturate(100%) invert(18%) sepia(100%) saturate(3150%) hue-rotate(351deg) brightness(82%) contrast(131%);
                }
            }
        }
    }
}

@media (width <= 768px) {
    nav {
        width: auto;

        .imageLogo {
            img {
                width: 32px;;
            }
        }

        li {
            padding: 0;
            span {
                display: none;
            }
        }
    }
}