

.contentDashboard{
     
    .menuNavbar{

        
        .mycontent{
            width: 100%;

            .classGraphic{
                display: flex;
                justify-content: space-between;

                .graphicOne{
                    width: 100%;
                    height: 100%;
                    margin-bottom: 20px;
                }

                .tableOne{
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

            .dadosResumeBox{

            }

            .contentBox{
                width: 100%;
                border-radius: 10px;
            }
        }
    }
    
}