.spaceGraphicTransactions {
    height: 363px;

    h2 {
        font-size: 20px;
        font-weight: 500;
        color: #272727;
    }

    @media(width <= 768px) {
        margin-bottom: 10px;
    }
}
