.headerSpace{
    display: flex; 
    align-items: center;   
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0px;

    h1{
        font-size: 1.87rem;
        font-weight: 500;
        color: #272727;
        margin-bottom: 5px;
    }
    p{
        font-size: 1.12rem;
        font-weight: 500;
        color: #6A6969;
        margin-top: 0px;
    }    

    .headerSpaceEnd{
        display: flex;
        height: 40px;
        gap: 32px;

        img{
            border-radius: 100px;
            width: 24px;
        }

        .icons {
            background-color: white;
            border-radius: 999px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .dataLogin{
            display: flex;
            align-items: center;
            gap: 15px;
        }
        
        .dataLogin img{
            
            width: 42px;
        }

    }

    
}

@media (width <= 768px) {
    .headerSpace p {
        display: none;
    }
}

@media (width <= 640px) {
    .headerSpace h1 {
        display: none;
    }
}